<template name="comisionablesstats">
    {{getTitle}}
    <div class="comistatscont">
        <div id="chart"></div>
        <div id="com-selector">
            {{#if isAdmin}}
            <a class="all">Seleccionar todos</a>
            <a class="none">Quitar todos</a>
            {{/if}}
            {{#each thecomis}}
                <div>
                    <span style="background-color: {{getMyColor @index}}"></span>
                    <input type="checkbox" class="comifilter" id="{{name}}" checked data-name="{{name}}"/>
                    <label for="{{name}}">{{name}}</label>
                </div>
            {{/each}}
        </div>
    </div>
</template>
