<template name="emitinvoices">
    <h3>Facturas | Facturas Emitidas </h3>
    <div>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Fecha</th>
                    <th>Destinatario</th>
                    <th>Fecha Entrega</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {{#each emitInvoices}}
                    <tr>
                        <td>
                            {{numFactura}}
                        </td>
                        <td>
                            {{formatDate fechaFactura}}
                        </td>
                        <td>
                            {{nameComi}}
                        </td>
                        <td>
                            {{formatDate fechaEntrega}}
                        </td>
                        <td>
                            {{precio}}
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>